$primary: rgb(4, 5, 11);
$primary-op-50: rgb(4, 5, 11, 0.5);
$primary-op-92: rgb(4, 5, 11, 0.922);
$primary-op-96: rgb(4, 5, 11, 0.979);

$shadow-dark--15: 0px 0px 15px $primary;

$secondary: #335ffe;
$shadow-secondary--5: 0px 0px 5px rgb(51, 95, 254);
$shadow-secondary--5-2: 0px 0px 5px 1px rgb(51, 95, 254);
$shadow-secondary--10: 0px 0px 10px 2px rgb(51, 95, 254);
$shadow-secondary--15: 0px 0px 15px rgb(51, 95, 254);
$shadow-secondary--20: 0px 0px 20px rgb(51, 95, 254);
$shadow-secondary--25: 0px 0px 25px rgb(51, 95, 254);
$shadow-secondary--35: 0px 0px 25px rgb(51, 95, 254);

$color-light: rgb(251, 251, 251);
$color-light--70: rgba(251, 251, 251, 0.7);
$color-light--50: rgba(251, 251, 251, 0.5);

$shadow-light--5: 0px 0px 5px $color-light;
$shadow-light--10: 0px 0px 10px $color-light;
$shadow-light--15: 0px 0px 15px $color-light;
$shadow-light--35: 0px 0px 35px $color-light;
