---
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Pdf from "./icons/Pdf.astro";
---

<section id="about-me"></section>
<style>
  #about-me {
    height: 100vh;
  }
</style>
