---
import Clover from "./astro-svg/Clover.astro";
import Technologies from "./ui/Technologies.astro";
import { TECH_LIST } from "./../shared/helpers.ts";
---

<section id="about-me">
  <article>
    <header>
      <Clover />
      <h2>Sobre Mí</h2>
    </header>
    <section class="container">
      <p>
        ¡Hola! Me llamo <span>Matías</span>. Actualmente estudio un la <span
          >UNAJ</span
        > y me especializo en diseñar <span>páginas web</span> con estilos <span
          >atractivos</span
        > y código <span>eficiente</span>.
      </p>
    </section>
  </article>
  <article>
    <header class="title">
      <Clover />
      <h3>Tecnologías</h3>
    </header>
    <Technologies technologies={TECH_LIST} />
  </article>
</section>

<style>
  #about-me {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    & :global(.container) {
      background-color: #020617;
      border-color: #9999ff;
      border-style: solid;
      border-width: 0 3px;
      padding: 2rem 1.5rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-image: repeating-linear-gradient(
          -45deg,
          #9999ff1f,
          #9999ff1f 1px,
          transparent 1px,
          transparent 6px
        ),
        repeating-linear-gradient(
          55deg,
          #9999ff1f,
          #9999ff1f 1px,
          transparent 1px,
          transparent 8px,
          #9999ff1f 8px,
          #9999ff1f 9px,
          transparent 9px,
          transparent 20px
        );
    }
    & :global(.container.bottom) {
      border-radius: 0 0 1rem 1rem;
      border-width: 0 3px 3px;
    }
  }

  header {
    padding: 1rem;
    overflow: hidden;
    width: 100%;
    background-color: rgb(2 6 23);
    border-radius: 0.95rem 0.95rem 0 0;
    border-color: #9999ff;
    border-style: solid;
    border-width: 3px 3px 1px;
    background-position: 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-sizing: border-box;
    &::after {
      content: "";
      width: 3rem;
      height: 10rem;
      position: absolute;
      transform: rotate(35deg);
      background: linear-gradient(
        90deg,
        transparent 0%,
        rgb(194, 194, 194) 60%,
        rgb(255, 255, 255) 65%,
        transparent 100%
      );
      top: -25px;
      left: -6rem;
      opacity: 0.4;
      animation: 3s glare linear infinite;
    }
  }
  #about-me article:not(:first-child) > header {
    border-top: 1px solid #9999ff;
    border-radius: 0;
  }
  h2,
  h3 {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    max-width: 70ch;
    width: 100%;
    text-wrap: pretty;
    font-size: 1.2rem;
    margin: 0;
    & > span {
      color: #9999ff;
      font-weight: 700;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 5.6rem);
    justify-content: center;
    gap: 0.75rem;
    @keyframes spin {
      from {
        transform: translate(-50%, -50%) rotate(0);
      }
      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
    .card {
      width: 5.6rem;
      height: 5.6rem;
      border-radius: 0.5rem;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      .inner {
        border: 1px solid #99f;
        padding: 0.45rem;
        background: rgb(2 6 23);
        border-radius: 0.5rem;
        z-index: 2;
        width: 4.5rem;
        height: 4.5rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        span {
          font-size: 0.9rem;
        }
        /* &::after {
          content: "";
          width: 2rem;
          height: 10rem;
          position: absolute;
          transform: rotate(35deg);
          background: linear-gradient(
            90deg,
            transparent 0%,
            rgb(194, 194, 194) 60%,
            rgb(255, 255, 255) 65%,
            transparent 100%
          );
          top: -20px;
          left: -6rem;
          opacity: 0.4;
          animation: 3.5s glare linear infinite;
        } */
      }
      &:hover .inner {
        border: none;
      }
      &:hover::before {
        content: "";
        display: block;
        background: linear-gradient(
          90deg,
          transparent 0%,
          #9999ff 50%,
          transparent 100%
        );
        width: 3rem;
        height: 7rem;
        transform: translate(0);
        position: absolute;
        animation: rotate 5s linear forwards infinite;
        z-index: 1;
        top: 2rem;
        transform-origin: top center;
      }
    }
  }
  @keyframes glare {
    0 {
      left: -150px;
    }
    40%,
    100% {
      left: 130%;
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
  @media (width> 480px) {
    ul {
      grid-template-columns: repeat(4, 5.6rem);
    }
  }
  @media (width> 768px) {
    ul {
      grid-template-columns: repeat(6, 5.6rem);
    }
  }
</style>
