---
import Matias from "./../assets/matias.png";
import {Image} from "astro:assets";
import WebDeveloper from "./ui/WebDeveloper.astro";
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import CV from "./icons/CV.astro";
---

<section id="home">
  <figure>
    <Image
      src={Matias}
      alt="Foto de Matias Galarza"
      class="matias-image"
      decoding="async"
      loading="lazy"
    />
  </figure>
  <article>
    <h1>
      Galarza Matías
      <span>Desarrollador Web</span>
    </h1>
    <WebDeveloper />
    <div class="socials">
      <GitHub />
      <LinkedIn />
      <CV />
    </div>
  </article>
</section>
<style>
  #home {
    width: 100%;
    height: calc(100vh - 7.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    position: relative;
    margin-top: 1rem;
    gap: 1rem;
    figure {
      margin: 0;
      width: 12.5rem;
      height: 12.5rem;
      background: url("./../assets/photo-bg.png");
      background-repeat: round;
      & > .matias-image {
        width: 12.5rem;
        height: 12.5rem;
        object-fit: contain;
      }
    }
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      h1 {
        display: none;
      }
      .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        z-index: 0;
      }
    }
  }
  @media (width>480px) {
    #home {
      margin-top: 0;
      margin-bottom: 2rem;
      height: calc(100vh - 7rem);
    }
  }
  @media (width>768px) {
    #home {
      width: 100%;
      height: calc(100vh - 12rem);
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 6rem;
      margin-top: 5rem;
      justify-content: space-between;
      article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        h1 {
          display: none;
        }
        .socials {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          gap: 2rem;
        }
      }
      figure {
        margin: 0;
        width: 25rem;
        height: 25rem;
        background-repeat: no-repeat;
        background-image: url("./../assets/photo-bg.png");
        background-size: contain;
        position: relative;
        & > .matias-image {
          width: 25rem;
          height: 25rem;
          position: relative;
          bottom: 6.2px;
          object-fit: contain;
        }
      }
    }
  }
  @media (width>1024px) {
    #home article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 3rem;
        gap: 5rem;
      }
    }
  }
</style>
