---
import Matias from "./../assets/matias.webp";
import { Image } from "astro:assets";
import WebDeveloper from "./astro-svg/WebDeveloper.astro";
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import CV from "./icons/CV.astro";
---

<section id="home">
  <Image
    src={Matias}
    alt="Foto de Matias Galarza"
    class="matias-image"
    decoding="sync"
    loading="eager"
  />
  <article>
    <h1>
      Galarza Matías
      <span>Desarrollador Web</span>
    </h1>
    <WebDeveloper />
    <section class="socials">
      <GitHub animated/>
      <LinkedIn animated/>
      <CV animated/>
    </section>
  </article>
</section>
<style>
  #home {
    width: 100%;
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 3rem;
    .matias-image {
      margin: 0;
      width: 13.5rem;
      height: 13.5rem;
      position: relative;
      border-radius: 4rem;
      border: 2px solid #99f;
      padding: 1rem;
      background-color: #020617;
      background-image: repeating-linear-gradient(
          -45deg,
          #9999ff1f,
          #9999ff1f 1px,
          transparent 1px,
          transparent 6px
        ),
        repeating-linear-gradient(
          55deg,
          #9999ff1f,
          #9999ff1f 1px,
          transparent 1px,
          transparent 8px,
          #9999ff1f 8px,
          #9999ff1f 9px,
          transparent 9px,
          transparent 20px
        );
    }
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      h1 {
        display: none;
      }
      .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        z-index: 0;
      }
    }
  }
  @media (width>480px) {
    #home {
      height: calc(100vh - 3rem);
    }
  }
  @media (width>768px) {
    #home {
      width: 100%;
      height: calc(100vh - 3rem);
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .socials {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          gap: 2rem;
        }
      }
      .matias-image {
        width: 20rem;
        height: 20rem;
      }
    }
  }
  @media (width>1024px) {
    #home article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 3rem;
        gap: 5rem;
      }
    }
  }
</style>
