---
import { Image } from "astro:assets";
import Calculator from "./../assets/calculator.webp";
import LearnLanguagesOnline from "./../assets/learn-languages-online.webp";
import TypeScript from "./icons/technologies/TypeScript.astro";
import NextJs from "./icons/technologies/NextJs.astro";
import TailwindCss from "./icons/technologies/TailwindCss.astro";
import PostgreSql from "./icons/technologies/PostgreSql.astro";
import LinkIcon from "./icons/social-networks/LinkIcon.astro";
import GitHubSvg from "./icons/social-networks/GitHubSvg.astro";
import React from "./icons/technologies/React.astro";
import Project from "./ui/Project.astro";
---

<section id="projects">
  <header>
    <h2>Proyectos</h2>
  </header>
  <article>
    <Project
      title="Learn Languages Online"
      description={[
        "Una página para aprender distintos idiomas de una manera fácil y divertida.",
        "En este proyecto aprendí a manejar bases de datos y a trabajar en equipo, hizo que mejore mi lógica en Back-End y el uso de los datos dinámicos.",
      ]}
      projectTechs={[TypeScript, NextJs, PostgreSql, TailwindCss]}
    >
      <Image
        src={LearnLanguagesOnline}
        alt="Demostración del proyecto Learn Languages Online"
        class="demostration"
        decoding="async"
        loading="lazy"
        slot="demostration"
      />
      <div class="links" slot="links">
        <a
          href="https://learn-languages-zeta.vercel.app"
          target="_blank"
          aria-label="Ir a la página Learn Languages Online"
        >
          <LinkIcon /><span>Link</span></a
        >
        <a
          href="https://github.com/fatso1000/learn-languages"
          target="_blank"
          aria-label="Ir al repositorio de github de la página Learn Languages Online"
          ><GitHubSvg /><span>Repositorio</span>
        </a>
      </div>
    </Project>
    <Project
      title="Calculadora"
      description={[
        "Una calculadora que permite resolver todo tipo de cuentas básicas.",
        "Este fue un buen proyecto para empezar, me hizo mejorar mi lógica y aprendí cómo manejar estados.",
      ]}
      projectTechs={[TypeScript, React]}
    >
      <Image
        src={Calculator}
        alt="Demostración del proyecto Calculadora"
        class="demostration"
        decoding="async"
        loading="lazy"
        slot="demostration"
      />
      <div class="links" slot="links">
        <a
          href="https://calculadora-galarza-matias.netlify.app"
          target="_blank"
          aria-label="Ir a la página Calculadora"
        >
          <LinkIcon />
          <span>Link</span>
        </a>
        <a
          href="https://github.com/Matrox1821/calculator"
          target="_blank"
          aria-label="Ir al repositorio de github de la página Calculadora"
          ><GitHubSvg /><span>Repositorio</span>
        </a>
      </div>
    </Project>
  </article>
</section>

<style>
  #projects {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    > article {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
  h2 {
    text-transform:;
    padding: 1rem;
    overflow: hidden;
    width: 100%;
    background-color: rgb(2 6 23);
    border-radius: 0.95rem;
    border: 3px solid #9999ff;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    &::after {
      content: "";
      width: 3rem;
      height: 10rem;
      position: absolute;
      transform: rotate(35deg);
      background: linear-gradient(
        90deg,
        transparent 0%,
        rgb(194, 194, 194) 60%,
        rgb(255, 255, 255) 65%,
        transparent 100%
      );
      top: -25px;
      left: -6rem;
      opacity: 0.4;
      animation: 3s glare linear infinite;
    }
  }

  .demostration {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center !important;
    gap: 1rem;
    & > a {
      width: 100%;
      border: 2px solid #9999ff;
      border-radius: 0.75rem;
      padding: 0.25rem 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      gap: 0.5rem;
      transition: 200ms ease-in-out background-color;
      & > span {
        color: #9999ff;
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }
  @media (width>768px) {
    #projects article {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (hover: hover) {
    .links {
      > a:hover {
        background-color: rgba(153, 153, 255, 0.1);
      }
    }
  }
</style>

<style is:global>
  #projects {
    .tech-icon {
      width: 1.75rem;
      height: 1.75rem;
    }
    .link-icon {
      width: 3rem;
      height: 3rem;
    }
  }
</style>
