---
import CVName from "../ui/CVName.astro";
import CircleDrawed from "../ui/CircleDrawed.astro";
import SocialArrow from "../ui/SocialArrow.astro";
import CVSvg from "./social-networks/CVSvg.astro";
---

<div class="icon">
  <a href="https://github.com/Matrox1821" target="_blank" class="link">
    <CVSvg />
  </a>
  <CircleDrawed /><SocialArrow /><CVName />
</div>
