---
import GalarzaMatiasCV from "./../../assets/resume/GalarzaMatiasCV.pdf";
import CVName from "./social-network-names/CVName.astro";
import CircleDrawed from "../astro-svg/CircleDrawed.astro";
import SocialArrow from "../astro-svg/SocialArrow.astro";
import CVSvg from "./social-networks/CVSvg.astro";

interface Props {
  animated?: boolean;
}

const { animated } = Astro.props;
---

<div class="icon">
  <a
    href={GalarzaMatiasCV}
    download="Galarza Matías CV"
    class="link"
    aria-label="Descargar el Currículum Vitae de Galarza Matías">
    <CVSvg />
    {!animated&&(<CVName />)}
  </a>
  {animated&&(<CircleDrawed /><SocialArrow /><CVName />)}
</div>
