---
import GitHubName from "../ui/GitHubName.astro";
import SocialArrow from "../ui/SocialArrow.astro";
import CircleDrawed from "../ui/CircleDrawed.astro";
import GitHubSvg from "./svg/GitHubSvg.astro";
---

<div class="icon">
  <a href="https://github.com/Matrox1821" target="_blank" class="link">
    <GitHubSvg />
  </a>
  <CircleDrawed /><SocialArrow /><GitHubName />
</div>
