---
import GitHubName from "./social-network-names/GitHubName.astro";
import SocialArrow from "../astro-svg/SocialArrow.astro";
import CircleDrawed from "../astro-svg/CircleDrawed.astro";
import GitHubBorderedSvg from "./social-networks/GitHubBorderedSvg.astro";

interface Props {
  animated?: boolean;
}

const { animated } = Astro.props;
---

<div class="icon">
  <a
    href="https://github.com/Matrox1821"
    target="_blank"
    class="link"
    aria-label="Perfil de Github">
    <GitHubBorderedSvg />
    {!animated&&(<GitHubName />)}
  </a>
  {animated&&(<CircleDrawed /><SocialArrow /><GitHubName />)}
</div>
