---
import GitHubName from "../ui/GitHubName.astro";
import SocialArrow from "../ui/SocialArrow.astro";
import CircleDrawed from "../ui/CircleDrawed.astro";
import GitHubBorderedSvg from "./social-networks/GitHubBorderedSvg.astro";
---

<div class="icon">
  <a
    href="https://github.com/Matrox1821"
    target="_blank"
    class="link"
    aria-label="Perfil de Github">
    <GitHubBorderedSvg />
  </a>
  <CircleDrawed /><SocialArrow /><GitHubName />
</div>
