---
import LinkedInName from "./social-network-names/LinkedInName.astro";
import SocialArrow from "../astro-svg/SocialArrow.astro";
import CircleDrawed from "../astro-svg/CircleDrawed.astro";
import LinkedInSvg from "./social-networks/LinkedInSvg.astro";
interface Props {
  animated?: boolean;
}

const { animated } = Astro.props;
---

<div class="icon">
  <a
    href="https://www.linkedin.com/in/galarza-matias"
    target="_blank"
    class="link"
    aria-label="Perfil de LinkedIn">
    <LinkedInSvg />
    {!animated&&(<LinkedInName />)}
  </a>
  {animated&&(<CircleDrawed /><SocialArrow /><LinkedInName />)}
</div>
