---
import LinkedInName from "../ui/LinkedInName.astro";
import SocialArrow from "../ui/SocialArrow.astro";
import CircleDrawed from "../ui/CircleDrawed.astro";
import LinkedInSvg from "./svg/LinkedInSvg.astro";
---

<div class="icon">
  <a href="https://github.com/Matrox1821" target="_blank" class="link">
    <LinkedInSvg />
  </a>
  <CircleDrawed /><SocialArrow /><LinkedInName />
</div>
