---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="background"></div>
    <div class="background-header"></div>
    <div class="background-header-grid"></div>

    <main>
      <Header
        headerNav={[
          {href: "#home", label: "Inicio"},
          {href: "#about-me", label: "Sobre mí"},
          {href: "#projects", label: "Proyectos"},
          {href: "#contact", label: "contacto"},
        ]}
      />
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Quicksand";
    src: url("./../../public/fonts/Quicksand/Quicksand-VariableFont_wght.ttf")
      format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  :root {
    --text: #eee;
    --text-accent: #99f;
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: Quicksand, sans-serif;
    background-size: 224px;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(2 6 23);
    margin: 0.5rem;
    color: var(--text);
  }
  main {
    min-height: 100vh;
    max-width: 60rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }
  button {
    padding: 0;
  }

  .background,
  .background-header,
  .background-header-grid {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  .background {
    bottom: 0;
    background: linear-gradient(to bottom, #111422 1px, transparent 1px),
      linear-gradient(to right, #111422 1px, transparent 1px);
    background-size: 1rem 1.99rem;
    z-index: -1;
  }
  .background-header {
    height: 4rem;
    background-color: rgb(2 6 23);
    z-index: 1;
    display: none;
  }
  .background-header-grid {
    height: 4rem;
    background: linear-gradient(to bottom, #111422 1px, transparent 1px),
      linear-gradient(to right, #111422 1px, transparent 1px);
    background-size: 1rem 1.99rem;
    z-index: 1;
    display: none;
  }
  @media (width >480px) {
    body {
      margin: 1rem;
    }
  }
  @media (width>768px) {
    .background,
    .background-header-grid {
      background-size: 1rem 1.67rem;
    }
    .background-header,
    .background-header-grid {
      display: block !important;
      height: 5rem;
    }
  }
</style>

//Icons
<style is:global>
  .icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    & > a.link,
    & > a.link > .logo {
      z-index: 2;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  @media (width>768px) {
    .icon {
      display: flex;
      & > a.link,
      & > a.link > .logo {
        width: 3rem;
        height: 3rem;
      }
    }
    .icon:has(> .link > .github) {
      & .circle path,
      & .arrow path {
        stroke: #ced4da;
      }
    }
    .icon:has(> .link > .linkedin) {
      & .circle path,
      & .arrow path {
        stroke: #0a66c2;
      }
    }
    .icon:has(> .link > .cv) {
      & .circle path,
      & .arrow path {
        stroke: #f48284;
      }
      & .circle {
        transform: translateX(-0.4rem);
      }
      & .arrow {
        transform: translate(-0.4rem, 4.2rem);
      }
      & .logo-name {
        transform: translate(-0.4rem, 6.5rem);
      }
    }
  }

  @media (hover: hover) {
    .icon:hover {
      & > .link > .logo {
        transform: scale(1.2);
      }
      > .circle {
        animation: draw 0.5s forwards;
      }
      > .arrow {
        animation: draw 1s forwards;
      }
      > .logo-name {
        opacity: 1;
      }
    }

    @keyframes draw {
      from {
        stroke-dashoffset: 900;
        stroke-dasharray: 900;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
</style>
