---
import Footer from "../components/ui/Footer.astro";
import Header from "../components/ui/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#020617" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/manifest.json" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="background"></div>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Quicksand";
    src: url("./../../public/fonts/Quicksand.ttf") format("TrueType");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  * {
    font-family: Quicksand, sans-serif;
  }
  :root {
    --text: #eee;
    --text-accent: #99f;
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --angle: 90deg;
    --draw-animation: draw;
  }
  html {
    background-size: 224px;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #020617;
    margin: 3rem 1rem 0rem;
    color: var(--text);
    overflow-x: hidden;
  }
  main {
    min-height: 100vh;
    max-width: 60rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 5rem;
  }
  button {
    padding: 0;
  }
  .background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #111422 1px, transparent 1px),
      linear-gradient(to right, #111422 1px, transparent 1px);
    background-size: 1rem 1.99rem;
    z-index: -1;
  }
  @keyframes draw {
    from {
      stroke-dashoffset: 900;
      stroke-dasharray: 900;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @media (width>768px) {
    .background {
      background-size: 1rem 1.67rem;
    }
  }
  @media (hover: hover) {
    html {
      scrollbar-gutter: stable;
    }
  }
</style>

<style is:global>
  /* Icons  */
  .icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    & > a.link,
    & > a.link > .logo {
      z-index: 2;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .tech-icon {
    width: 3rem;
    height: 3rem;
  }
  @media (width>768px) {
    .icon {
      display: flex;
      & > a.link,
      & > a.link > .logo {
        width: 3rem;
        height: 3rem;
      }
    }
    .icon:has(> .link > .github) {
      & .circle path,
      & .arrow path {
        stroke: #ced4da;
      }
    }
    .icon:has(> .link > .linkedin) {
      & .circle path,
      & .arrow path {
        stroke: #0a66c2;
      }
    }
    .icon:has(> .link > .cv) {
      & .circle path,
      & .arrow path {
        stroke: #f48284;
      }
      & .circle {
        transform: translateX(-0.4rem);
      }
      & .arrow {
        transform: translate(-0.4rem, 4.2rem);
      }
    }
  }

  @media (hover: hover) {
    .icon:has(> .link > .cv) .logo-name {
      transform: translate(-0.4rem, 6.5rem);
    }
    .icon > .link {
      z-index: 5 !important;
      cursor: pointer !important;
    }
    .icon > .link > .logo {
      transition: transform 0.1s linear;
    }
    .icon:hover {
      & > .link > .logo {
        transform: scale(1.2);
      }
      > .circle {
        animation: draw 0.5s forwards;
      }
      > .arrow {
        animation: draw 1s forwards;
      }
      > .logo-name {
        opacity: 1;
      }
    }

    @keyframes draw {
      from {
        stroke-dashoffset: 900;
        stroke-dasharray: 900;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
</style>
