---
import GalarzaMatiasCV from "../../assets/resume/GalarzaMatiasCV.pdf"
import CV from "../icons/CV.astro"
import GitHub from "../icons/GitHub.astro"
import LinkedIn from "../icons/LinkedIn.astro"
import EMail from "../icons/EMail.astro"
import LinkedInName from "../icons/social-network-names/LinkedInName.astro"
import GitHubName from "../icons/social-network-names/GitHubName.astro"
import CVName from "../icons/social-network-names/CVName.astro"

---

<footer>
  <div class="contact">
    <LinkedIn />
    <GitHub/>
    <CV/>
  </div>
</footer>
<style>
  footer {
    background-color: #020617;
    border-color: #99f;
    height: 8rem;
    width: 100vw;
    border-style: solid;
    border-width: 2px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact {
      width: 100vw;
      max-width: 60rem;
      height: 8rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      justify-items: center;
      
      >.icon>.link{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        height: 4rem;
        align-items: center;
        .logo{
          height: 3rem !important;
          width: 3rem !important;
        }
        .logo-name{
          position: relative; 
          opacity: 1;
          transform: none; 

        }
      }
    }
  }
  @media (width>480px){
    footer{
      .contact{>.icon>.link{
        display: flex;
        gap: 1rem;
        flex-direction: row;
        width: 8rem;
        .logo{
          height: 3rem !important;
          width: 3rem !important;
        }
        .logo-name{
          position: relative; 
          opacity: 1;
          transform: none; 

        }
      }
    }}
  }
</style>