---
import LinkBg from "./LinkBg.astro";
import LogoSvg from "./LogoSvg.astro";

interface Props {
  headerNav: {href: string; label: string}[];
}

const {headerNav} = Astro.props;
---

<header>
  <div>
    <button class="logo">
      <span>Matías<span class="dot">.tsx</span></span>
      <LogoSvg />
    </button>

    <nav>
      {
        headerNav.map(({href, label}: {href: string; label: string}) => {
          if (href === "#home")
            return (
              <>
                <button class="link" id="home-nav">
                  <span>{label}</span>
                  <LinkBg />
                </button>
              </>
            );
          return (
            <>
              <a class="link" href={href} id={href.replace("#", "") + "-nav"}>
                <span>{label}</span>
                <LinkBg />
              </a>
            </>
          );
        })
      }
    </nav>
  </div>
</header>

<style>
  header {
    width: 100vw;
    height: 3rem;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    transition: background-color 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    div {
      width: 100vw;
      max-width: 60rem;
      height: 3rem;
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 20;
      position: fixed;
      top: 0;
      box-sizing: border-box;
      padding: 0 1rem;
      transition: background-color 0.2s linear;
      .logo {
        font-family: Quicksand, sans-serif;
        color: var(--text-accent);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      .dot {
        font-size: 0.8rem;
      }
      nav {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        .link {
          font-family: Quicksand, sans-serif;
          background-color: transparent;
          border: none;
          color: #eee;
          text-decoration: none;
          cursor: pointer;
          font-size: 0.8rem;
          font-weight: 600;
        }
      }
    }
  }
  @media (width>480px) {
    header {
      height: 3rem;
      div {
        height: 3rem;
        .logo {
          color: var(--text-accent);
          text-decoration: none;
          font-size: 1.7rem;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .dot {
          font-size: 1rem;
        }
        nav {
          display: flex;
          justify-content: center;
          gap: 1rem;
          .link {
            cursor: pointer;
            z-index: 1;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  @media (width>768px) {
    header {
      nav {
        gap: 2rem;
        .link {
          cursor: pointer;
          z-index: 1;
          font-size: 1.2rem;
        }
      }
    }
  }
  @media (width>1024px) {
    div {
      padding: 1rem 0 !important;
    }
  }
  @media (hover: hover) {
    .logo:hover {
      .logo-svg {
        animation: draw 0.5s forwards;
      }
    }
    .link {
      position: relative;
      min-width: 4rem;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        z-index: 1;
        font-weight: 700;
      }
      &:hover > span + .link-bg {
        animation: draw 0.5s forwards;

        color: var(--text-accent);
      }
    }
    @keyframes draw {
      from {
        stroke-dashoffset: 900;
        stroke-dasharray: 900;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
</style>

<script>
  const homeLink = document.getElementById("home-nav");
  const logoToHomeLink = document.querySelector(".logo");
  const header = document.querySelector("header");

  const scrollToTop = () => {
    window.history.replaceState("", "", "/");
    window.scrollTo({top: 0});
  };
  var lastScrollTop = 0;

  document.addEventListener(
    "scroll",
    function () {
      var windowScroll = window.scrollY;
      if (!header) return;
      if (windowScroll > 60) {
        header.style.backgroundColor = "#9999ff1c";
        header.style.backdropFilter = "blur(10px)";
        header.style.borderBottom = "1px solid #9999ff";
      } else {
        header.style.backgroundColor = "transparent";
        header.style.backdropFilter = "blur(0px)";
        header.style.borderBottom = "none";
      }
    },
    false
  );
  homeLink?.addEventListener("click", scrollToTop);
  logoToHomeLink?.addEventListener("click", scrollToTop);
</script>
