---
import Logo from "../astro-svg/Logo.astro";
import Navbar from "./Navbar.astro";
---

<header>
  <div>
    <button class="logo">
      <span>Matías<span class="dot">.tsx</span></span>
      <Logo />
    </button>
    <Navbar />
  </div>
</header>
<style>
  header {
    width: 100vw;
    height: 3rem;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    transition: background-color 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    div {
      width: 100vw;
      max-width: 60rem;
      height: 3rem;
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 20;
      position: fixed;
      top: 0;
      box-sizing: border-box;
      padding: 0 1.5rem;
      transition: background-color 0.2s linear;
      .logo {
        color: var(--text-accent);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      .dot {
        font-size: 0.8rem;
      }
    }
  }
  @media (width>480px) {
    header {
      height: 3rem;
      div {
        height: 3rem;
        .logo {
          color: var(--text-accent);
          text-decoration: none;
          font-size: 1.7rem;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .dot {
          font-size: 1rem;
        }
      }
    }
  }
  @media (width>1024px) {
    div {
      padding: 1rem 0 !important;
    }
  }
  @media (hover: hover) {
    .logo:hover {
      .logo-svg {
        animation: var(--draw-animation) 0.5s forwards;
      }
    }
  }
</style>

<script>
  const homeLink = document.getElementById("home-nav");
  const logoToHomeLink = document.querySelector(".logo");
  const header = document.querySelector("header");

  const scrollToTop = () => {
    window.history.replaceState("", "", "/");
    window.scrollTo({ top: 0 });
  };

  document.addEventListener(
    "scroll",
    function () {
      var windowScroll = window.scrollY;
      if (!header) return;
      if (windowScroll > 60) {
        header.style.backgroundColor = "#020617ba";
        header.style.backdropFilter = "blur(10px)";
        header.style.borderBottom = "1px solid #9999ff";
      } else {
        header.style.backgroundColor = "transparent";
        header.style.backdropFilter = "blur(0px)";
        header.style.borderBottom = "none";
      }
    },
    false
  );
  homeLink?.addEventListener("click", scrollToTop);
  logoToHomeLink?.addEventListener("click", scrollToTop);
</script>
