---
import ProjectTechnologies from "./ProjectTechnologies.astro";

interface Props {
  title: string;
  description: string[];
  projectTechs: any[];
}

const { description, title, projectTechs } = Astro.props;
---

<section class="project">
  <header><h3>{title}</h3></header>
  <article>
    <div class="project-container">
      <div class="image-container">
        <ProjectTechnologies projectTechs={projectTechs} />
        <slot name="demostration" />
      </div>
      <div class="description">
        {description.map((text: string) => <p>{text}</p>)}
      </div>
    </div>
    <slot name="links" />
  </article>
</section>

<style>
  .project {
    border: solid 2px #99f;
    background-color: rgb(2 6 23);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    > article {
      height: 30rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: space-between;
      > .project-container {
        > .image-container {
          display: flex;
          flex-direction: column-reverse;
          align-items: end;
          position: relative;
          gap: 0.5rem;
        }

        .description {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          p {
            margin: 0;
          }
        }
      }
    }
  }

  header {
    padding: 1rem;
    overflow: hidden;
    width: 100%;
    background-color: rgb(2 6 23);
    border-radius: 0.95rem 0.95rem 0 0;
    border-bottom: 1px solid #9999ff;
    background-position: 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-sizing: border-box;
    h3 {
      margin: 0;
      font-size: 1.3rem;
    }
    &::after {
      content: "";
      width: 3rem;
      height: 10rem;
      position: absolute;
      transform: rotate(35deg);
      background: linear-gradient(
        90deg,
        transparent 0%,
        rgb(194, 194, 194) 60%,
        rgb(255, 255, 255) 65%,
        transparent 100%
      );
      top: -25px;
      left: -6rem;
      opacity: 0.4;
      animation: 3s glare linear infinite;
    }
  }
</style>

<style is:global>
  #projects {
    .tech-icon {
      width: 1.75rem;
      height: 1.75rem;
    }
    .link-icon {
      width: 3rem;
      height: 3rem;
    }
  }
</style>
